/* Variables*/
$mainColor: #069;
$seaColor: #fff;
$accentColor: #ffc75f;
$base: #666;
$columsBackground: #ddf181;
$nlb: #dedede;
$bb: rgba(238, 248, 183, 0.842);
$seaBackground: #4ff3dd;
$seaGreen: #4cbb5e;